@font-face {
  font-family: 'DavidKing';
  src: url(bauhaus-93/Bauhaus-93-Regular.ttf);
}

body {
  margin: 0;
  color: aliceblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Title {
  color: #EEE726;
  font-family: 'DavidKing', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image {
  background-image: url("https://images.pexels.com/photos/3660204/pexels-photo-3660204.jpeg");
  position: absolute;
  filter: grayscale(30%) blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.App {
  height: 100vh;
}

.Login {
  width: 35%;
  background-color: rgba(10, 100, 100, 0.8);
  text-align: center;
  border-radius: 30px;
}

.Applic {
  height: calc(100vh - 30%);
  background-color: rgba(10, 100, 100, 0.8);
  text-align: center;
  border-radius: 30px;
}

.custom-select {
  background-color: rgba(10, 100, 100, 0.8);
  color: white;
}

*:focus-visible {
  color: white !important;
}